@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --blue: #118bee;
    --purple-w: #A2B2EE;
    --black: #26292B;
    --yellow: #E8E337;
    --white: #F7F7F7;
    --whitebg: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--whitebg);
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}


/*---------------Navbar---------------*/

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    padding: 20px 100px 15px 100px;
    color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.navbar a:hover {
    border-bottom: 2px solid var(--white);
    color: var(--yellow);
}

.logo {
    width: 20%;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#burger,
.navbar label {
    display: none;
}



/*---------------Button---------------*/

.pbutton {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: var(--blue);
    outline: 2px var(--white) solid;
    border: none;
    cursor: pointer;
    transition: 400ms;
}

button{
    background-color: var(--blue);
    border: none;
}

.button .text {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    transition: 400ms;
}



/*---------------Poster---------------*/

.posterc {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 5rem;
}

.posterc p {
    text-align: start;
    margin-top: 3rem;
    margin-left: 1.2rem;
}

.poster {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin-top: 1rem;
}

.poster a {
    color: var(--black);
    font-size: 14px;

}

.poster-text {
    margin-bottom: 25px;
    overflow: hidden;
}

.poster-text img {
    transition: 200ms;
    border-radius: 5px;
    margin-top: 5px;
}

.poster-text img:hover {
    scale: 102%;
}



/*---------------Footer---------------*/

.containerfooter {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.containerfooter ul {
    list-style: none;
}

.footer {
    background-color: var(--blue);
    padding: 50px 0;
}

.footer-col {
    width: 50%;
    padding: 0 70px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--white);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col p:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col p {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col p:hover {
    color: #ffffff;
}

.footer-col .social-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: var(--black);
    background-color: #ffffff;
}

#copyright {
    text-align: center;
    font-size: 10pt;
    margin-top: 5rem;
    color: var(--white);
}



/*---------------Responsif Navbar---------------*/

@media screen and (max-width: 993px) {
    .navbar {
        padding: 30px;
    }

    .navbar a {
        font-size: 20px;
    }

    .logo {
        width: 25%;
    }
}

@media screen and (max-width: 768px) {

    .navbar {
        padding: 30px;
    }

    .navbar a {
        font-size: 18px;
    }

    .list {
        gap: 90px;
    }

    .logo {
        width: 28%;
    }
}

@media screen and (max-width: 650px) {
    .navbar a {
        font-size: 16px;
    }

    .logo {
        width: 25%;
    }

    .logo {
        margin-right: 10px;
    }
}

@media screen and (max-width: 570px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    .navbar a {
        font-size: 16px;
    }

    .logo {
        width: 40%;
    }

    .burger {
        position: relative;
        width: 30px;
        height: 20px;
        background: transparent;
        cursor: pointer;
        display: block;
    }

    .burger input {
        display: none;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
    }

    .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
    }

    .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
    }


    #burger:checked~.menu {
        max-height: 100%;
    }

}

/*---------------Responsif Button---------------*/

@media screen and (max-width: 570px) {
    .button .text {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .button .text {
        font-size: 13px;
    }
}

@media screen and (max-width: 290px) {
    .button .text {
        font-size: 10px;
    }
}

@media screen and (max-width: 245px) {
    .button .text {
        font-size: 8px;
    }
}

@media screen and (max-width: 210px) {
    .button {
        display: none;
    }
}

/*---------------Responsif Poster---------------*/
@media screen and (max-width: 1090px) {

    .posterc {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .poster-text {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .poster-text a {
        font-size: 13px;
    }
}

@media screen and (max-width: 992px) {


    .posterc {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .poster {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .poster-text a {
        font-size: 13px;
    }
}

@media screen and (max-width: 720px) {

    .poster {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 570px) {

    .poster-text a {
        font-size: 12.5px;
    }
}

@media screen and (max-width: 475px) {
    .posterc {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .poster {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .poster-text a {
        font-size: 13px;
    }
}



/*---------------Responsif Footer---------------*/

@media screen and (max-width: 992px) {
    .footer-col .social-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 30%;
    }

}

@media screen and (max-width: 850px) {
    .footer-col {
        width: 50%;
        padding: 0 30px;
    }
}

@media screen and (max-width: 450px) {
    .footer-col {
        width: 20%;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 390px) {
    .footer-col {
        width: 30%;
        padding: 0 20px;
    }
}